<h3>マイページ</h3>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>
<br>
<br>
<h3>ユーザーの投稿一覧</h3>
<% @user.books.each do |t| %>
<div class= "mypagethumb">
   <p>
     <%= image_tag t.image, size: "100x200" if t.image? %>
   </p>
  <a href="/users/<%= t.user.id %>">
     <%= t.user.name %></a>
      <%= t.title %>
      <%= link_to "詳細へ", book_path(t.id) %>
</div>
<% end %>
<br>
<br>
<h3>ユーザーがいいねした投稿一覧</h3>
<% @user.liked_books.each do |t| %>
  <a href="/users/<%= t.user.id %>">
    <%= t.user.name %></a>
    <%= t.title %>
<% end %>

<br>
<br>
<br>
<%= link_to "本一覧に戻る", books_path %>