<br>
<h1>本の新規登録📖</h1>
<br>
<%= form_for @book do |f| %>


  <div class="field">
    <%= f.label :本のタイトル %>
    <%= f.text_field :title, :size => 30 %>
  </div>
  <br>


  <div class="field">
    <%= f.label :本のカテゴリー %>
    <%= f.select :category, 
    [["自己啓発", "自己啓発"], 
    ["小説", "小説"], 
    ["学習参考書", "学習参考書"]], include_blank: "選択して下さい" %>
  </div>
  <br>

  <div class="field">
    <%= f.label :どんな本？（一言で！） %>
    <%= f.text_field :learn,size: 140 %>
  </div>
  <br>

  <div class="field">
    <%= f.label :この本から学んだこと %>
    <%= f.text_field :about,size: 140 %>
  </div>
  <br>
  <h3>総合評価</h3>
   <div class="post_form">
    <%= f.radio_button :overrall, 5 ,id: 'star1'%>
    <label for="star1"><span class="text">感動した</span>★</label>

    <%= f.radio_button :overrall, 4 ,id: 'star2'%>
    <label for="star2"><span class="text">イイネ！</span>★</label>

    <%= f.radio_button :overrall, 3 ,id: 'star3'%>
    <label for="star3"><span class="text">まあまあ</span>★</label>

    <%= f.radio_button :overrall, 2 ,id: 'star4'%>
    <label for="star4"><span class="text">うーん。</span>★</label>

    <%= f.radio_button :overrall, 1 ,id: 'star5'%>
    <label for="star5"><span class="text">最悪</span>★</label>
 </div>
 <br>

  <%= f.submit "本を投稿する" %>
<% end %>
<br>
<br>


<%= link_to "本の一覧に戻る", books_path %>