<%= stylesheet_link_tag 'index', :media => "all" %>
    <section id="first-block">
      <p class="firstblock-name">
      <br>
      <br>
      <div class="ff_bookshare">
      <h3>BOOK SHARE</h3>
      <h3>〜本と過ごす日〜</h3> 
     </div> 
    </section>

    <section id="second-block">
    <br>
    <br> 
    <h3>投稿を検索</h3>
    <%= form_tag({controller:"books",action:"index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索する' %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "マイページへ", user_path(current_user.id) %>
    <% end %>
      <%= link_to "新規投稿へ", new_book_path %>
      <br>
    </section>
    <section id="third-block">
    <br>
    <h2>BOOK SHARE RANKING👑</h2>
    <br>
    <div class="books-container">
      <% @books.each do |t| %>
      <div class="blockwrapper">
        <div class=block>
          <p class= "blockthumb">
          <%= image_tag t.image, size: "100x200" if t.image? %>
        <br>
        <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= link_to book_like_path(id: t.id, book_id: t.id), method: :delete do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= link_to book_likes_path(id: t.id, book_id: t.id), method: :post do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% end %>
      <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %>
      <% end %>
        <% @rank_books.each do |t| %>
      <% end %>
      <%= link_to "詳細", book_path(t.id) %> 
        </p>
        <div class="bottomcontainer">
        <a href="/users/<%= t.user.id %>">
        <%= t.user.name %></a>
        <%= t.created_at %>
          <span class="star-rating">
          <span class="star-rating-front" style="width: <%= getPercent(t.overrall) %>%;">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
          </span> 
        </div>
      </div>
    </div>
    <br>
    <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= link_to book_like_path(id: t.id, book_id: t.id), method: :delete do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= link_to book_likes_path(id: t.id, book_id: t.id), method: :post do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% end %>
    <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %>
    <% end %>
        <% @rank_books.each do |t| %>
          <% end %>
    <% end %>
    <br>
    <br>
    </section>
    <%= paginate @books %>

    <section id="forth-block">
     <br>
     <h2>My posts</h2>
     <br>

      <div class="books-container">
      
      <br>
      <br>
      <% @books.each do |t| %>
      <div class="book">
        <%= image_tag t.image, size: "250x300" if t.image? %>
      <div>
      <br>
      <br>
      <span class="star-rating">
          <span class="star-rating-front" style="width: <%= getPercent(t.overrall) %>%;">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
          </span>
      </h2>
    </div>

      <a href="/users/<%= t.user.id %>">
      <%= t.user.name %></a>
      <%= t.user.email %>
      <%= t.category %>
      <%= t.learn %>
      <%= t.about %>
      
      <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= link_to book_like_path(id: t.id, book_id: t.id), method: :delete do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= link_to book_likes_path(id: t.id, book_id: t.id), method: :post do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% end %>
      <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %>
       <% end %>
        <% @rank_books.each do |t| %>
      <% end %>
    <%= t.created_at %>
    <%= link_to "詳細", book_path(t.id) %>
    <%= link_to "編集", edit_book_path(t.id) %>
    <%= link_to "削除", book_path(t.id), method: :delete %>
    </div>
    <% end %>
    <br>
    <%= paginate @books %>
    </section>