<%= stylesheet_link_tag 'new', :media => "all" %>
<br>
<h2>本の新規登録</h2>
<br>
<div class="post-container">
  <h1>書籍の新規登録</h1>
  <%= form_tag('booksearch', method: :get) do %>
    <div class="input-group">
      <%= search_field_tag "keyword", params[:keyword], class: "form-control", placeholder: "キーワード検索" %>
        <span class="input-group-btn">
          <%= submit_tag "検索", class: "btn btn-primary" %>
        </span>
    </div>
   <% end %>
  <h2>検索結果</h2>
  <% if @books.present? %>
    <% @books.each do |book| %>

       <img src="<%= book[1] %>" width="40" vspace="2">
       <%= link_to book[0], controller: "books", action: "new", title: book[0], author: book[2], img: book[1] %>
      <%= book[2] %> | 
    <% end %>
  <% end %>

  <br>
  <br>

 
  <%= form_with scope: :book, url: books_path, local: true do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, class: 'form-control', value: "#{@title}" %>
  <br>
  <br>

  <%= form.label :author %>
  <%= form.text_field :author, class: 'form-control', value: "#{@author}" %>

  <%= form.hidden_field :img, class: 'form-control', value: "#{@img}" %>

  
  <br>
  <br>

  <div class="field">
    <%= form.label :category, "本のカテゴリー" %>
    <%= form.select :category, 
    [["自己啓発", "自己啓発"], 
    ["小説", "小説"], 
    ["学習参考書", "学習参考書"],
    ["その他", "その他"]], include_blank: "選択して下さい" %>
  </div>
  <br>

  <div class="field">
    <%= form.label :どんな本？（一言で！） %>
    <%= form.text_field :learn,size: 140 %>
  </div>
  <br>

  <div class="field">
    <%= form.label :この本から学んだこと %>
    <%= form.text_field :about,size: 140 %>
  </div>
  <br>
  <h3>総合評価</h3>
   <div class="post_form">
    <%= form.radio_button :overrall, 5 ,id: 'star1'%>
    <label for="star1"><span class="text">感動した</span>★</label>

    <%= form.radio_button :overrall, 4 ,id: 'star2'%>
    <label for="star2"><span class="text">イイネ！</span>★</label>

    <%= form.radio_button :overrall, 3 ,id: 'star3'%>
    <label for="star3"><span class="text">まあまあ</span>★</label>

    <%= form.radio_button :overrall, 2 ,id: 'star4'%>
    <label for="star4"><span class="text">うーん。</span>★</label>

    <%= form.radio_button :overrall, 1 ,id: 'star5'%>
    <label for="star5"><span class="text">最悪</span>★</label>
    </div>
    <br>


  <%= form.submit "本を投稿する" %>

  <br>
  <br>
  <% end %>


  <%= link_to "本の一覧に戻る", books_path %>
</div>