<%= stylesheet_link_tag 'show', :media => "all" %>

<section id= "edit-block">
<div class="book">
  <h3>本の詳細情報</h3>
  <%= @book.image %>

  <p>本のタイトル：<%= @book.title %></p>
  <p>本の著者：<%= @book.author %></p>
  <p>本のカテゴリー：<%= @book.category %></p>
  <p>その本を一言でまとめると：<%= @book.learn%></p>
  <p>その本で学んだこと：<%= simple_format(@book.about) %></p>
  <p><%= @book.created_at %></p>
</div>

<% if user_signed_in? %>
    <% if current_user.already_liked?(@book) %>
         <%= link_to book_like_path(@book), method: :delete do %>
         <i class="fas fa-heart"></i><%= @book.likes.count %>
         <% end %>
    <% else %>
          <%= link_to book_likes_path(@book), method: :post do %>
          <i class="far fa-heart"></i><%= @book.likes.count %>
          <% end %>
    <% end %>
<% else %>
       <i class="far fa-heart"></i><%= @book.likes.count %>
<% end %>

<%= link_to "本の一覧に戻る", books_path %>
<%= link_to "編集する", edit_book_path(@book.id) %>
</section>